a:focus {
  outline: none;
}

.transition-fade {
  transition: opacity 0.4s ease-in-out;
  opacity: 1;
}

html.is-animating .transition-fade {
  opacity: 0;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fade-in {
  animation: 0.4s ease-out 0s 1 fadeIn;
}
