<template>
  <p if="true" />

  <div>
    <rounded-button
      label="title"
      fruit="fruit"
      for="fruit"
      of="['apple', 'banana']"
    />

    <div2>
      <rounded-button
        label="title"
        fruit="fruit"
        for="fruit"
        of="['apple', 'banana']"
      />
    </div2>
  </div>

  <rounded-button
    label="title"
    fruit="fruit"
    for="fruit"
    of="['apple', 'banana']"
  />

  <div>
    <rounded-button
      label="title"
      fruit="fruit"
      for="fruit"
      of="['apple', 'banana']"
    />

    <rounded-button
      label="title"
      fruit="fruit"
      for="fruit"
      of="['apple', 'banana']"
    />

    <rounded-button label="title" fruit="'kiwi'" />

    <p hidden />
  </div>
</template>
