<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="title" eval:content="title" />

    <title>Titl: {{ title }}</title>
  </head>
  <body>
    <header />

    <a href="/foo/bar">/foo/bar</a>

    <p for="plop" of="[1, 2, 3]">foobard</p>

    <script src="/utils.ts"></script>

    <rounded-button fruit="'apple'">
      <p>Hey, I'm button content !</p>

      <div>
        <span class="foobar">plop</span>
      </div>

      <p if="true">true</p>
      <p if="false">false</p>

      <p for="fruit" of="['banana', 'apple']">{{ index }} = {{ fruit }}</p>

      <img src="assets/images/image.png" alt="plop" />

      <rounded-button fruit="'kiwi'"></rounded-button>
    </rounded-button>

    <p for="plop" of="[1, 2, 3]">foobard</p>
  </body>
</html>

<div for="a" of="[1, 2, 3]">
  {{a}}
</div>

<div if="true"></div>

<div for="a" of="[1, 2, 3]">
  {{a}}
</div>

<rounded-button fruit="'kiwi'"></rounded-button>
