<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="title" eval:content="title" />

    <title>Titl: {{ title }}</title>
  </head>
  <body>
    <header />

    <a href="/foo/bar">/foo/bar</a>

    <p for="plop" of="[1, 2, 3]">foobard</p>

    <script src="/scripts/script.ts"></script>
    <script src="/utils.ts"></script>

    <rounded-button fruit="'apple'" />

    <p for="plop" of="[1, 2, 3]">foobard</p>
  </body>
</html>
